/* --- Desktop & Tablets (bis 1350px) --- */
@media (max-width: 1350px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-found {
    margin: 0;
  }

  .card {
    display: block;
    width: 100%;
  }
}

/* --- Phablets (bis 670px) --- */
@media (max-width: 670px) {
  #overlay-content {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* --- Mobile Standard (bis 550px) --- */
@media (max-width: 550px) {
  .overlay-pokemon-container {
    width: 90%;
    max-width: 320px;
  }

  .overlay-card-pokemon-img {
    height: 200px;
  }

  .btn-next {
    font-size: 16px;
  }
}

/* --- Mobile Small (bis 430px) --- */
@media (max-width: 430px) {
  .no-found {
    font-size: 20px;
  }
}

/* --- Mobile Extra Small (320px) --- */
@media (max-width: 330px) {
  .overlay-pokemon-container {
    width: 290px;
  }

  .overlay-card-name-id h3 {
    font-size: 1.1rem;
  }

  .overlay-pokemon-description {
    font-size: 16px;
    padding: 15px 0;
  }
}